.footer {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-areas:
        '. Footer_Logo Footer_Navbar Footer_Navbar . . Footer_Modal___Btn .'
        '. Footer_OutLinks Footer_Navbar Footer_Navbar . . Footer_Copyright .';
    grid-gap: 20px 20px;
    background-color: var(--secondaryColor);
    padding: 40px 20px 20px 20px;
    font-family: var(--fontHead);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer_Logo {
    grid-area: Footer_Logo;
    padding: 10px 0;
    width: 200px;
}
.footer_navbar {
    grid-area: Footer_Navbar;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}
.footer_navbar li {
    padding: 10px 0;
}
.footer_modal___btn {
    grid-area: Footer_Modal___Btn;
    font-weight: bold;
    margin-left: auto;
    padding: 15px 20px;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer_outLinks {
    grid-area: Footer_OutLinks;
    text-align: left;
    margin-right: auto;
}
.footer_outLinks a {
    display: inline-block;
    padding: 10px;
}
.footer_copyright {
    grid-area: Footer_Copyright;
    text-transform: initial;
    font-family: var(--fontBody);
    color: var(--greyColor);
    font-weight: lighter;
    text-align: right;
    margin-left: auto;
    font-size: calc(10px+0.5vw);
}

@media only screen and (max-width: 1000px) {
    .footer {
        display: grid;
        align-items: center;
        justify-content: space-around;
        grid-template-areas:
            '. Footer_Logo . . Footer_Modal___Btn Footer_Modal___Btn Footer_Modal___Btn .'
            '. Footer_Navbar Footer_Navbar . . . . .'
            '. Footer_OutLinks Footer_Copyright Footer_Copyright Footer_Copyright Footer_Copyright Footer_Copyright .';
        grid-gap: 20px 0px;
        background-color: var(--secondaryColor);
        padding: 40px 20px 20px 20px;
    }
    .footer_navbar {
        flex-direction: row;
    }
    .footer_navbar li {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 750px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secondaryColor);
        grid-gap: 0;
        padding: 40px 0;
    }
    .footer_navbar {
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .footer_navbar li {
        padding: 10px;
    }
    .footer_modal___btn, .footer_outLinks, .footer_copyright {
        margin: auto;
    }
    .footer_copyright {
        padding-top: 40px;
        text-align: center;
    }
}