.nav_logo {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  cursor: pointer;
}

.nav_modal___btn {
  padding: 10px 3vw;
  font-size: calc(12px + 0.3vw);
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border-radius: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav_modal___btn:hover {
  background-color: var(--hoverColor);
  color: var(--secondaryColor);
}

/* only desktop Nav styling */
.nav_desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_desktop ul {
  display: flex;
  padding-left: 30px;
  padding-right: 10px;
  /* set margin auto to align the nav items,for left alignment use margin-left: auto,
      for right alignment use margin-right: auto and for center simply margin: auto.*/
  margin: auto;
}

/* underline hover animation */
.nav_desktop ul a,
.nav_mobile ul a {
  font-size: calc(12px + 0.5vw);
  position: relative;
  padding: 0 12px;
  text-transform: uppercase;
}

.nav_desktop ul a::after,
.nav_mobile ul a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.3px;
  bottom: -2px;
  left: 0;
  background-color: #1F1F1F;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav_desktop ul a:hover:after,
.nav_mobile ul a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Mobile navbar styling */
.nav_mobile {
  position: fixed;
  display: block;
  top: 0px;
  right: 0px;
  width: 45%;
  z-index: 1;
  background-color: var(--primaryColor);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media only screen and (max-width: 530px) {
  .nav_mobile {
    width: 65%;
  }
  .nav_logo___link {
    width: 60%;
  }
}

.nav_mobile ul {
  display: flex;
  z-index: 2;
  align-items: center;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  list-style-type: none;
  background-color: var(--primaryColor);
}

.nav_mobile ul li {
  padding: 20px;
}

/* to hide and show side navbar in mobile */
.nav_mobile___hide {
  opacity: 0;
  transform: translateX(100vw);
}

.nav_mobile___show {
  opacity: 1;
  transform: translateX(0vw);
}

/* Hamburger mobile button styling and animation */
.nav_mobile_menu___btn {
  position: relative;
  display: block;
  margin-left: auto;
}
.nav_mobile_menu___btn_open,
.nav_mobile_menu___btn_close {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
  width: 20px;
  height: 5px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_mobile_menu___btn_open {
  background-color: var(--secondaryColor);
}

.nav_mobile_menu___btn_close {
  transform: translateX(-100px);
  background: transparent;
}

.nav_mobile_menu___btn_open::before,
.nav_mobile_menu___btn_open::after,
.nav_mobile_menu___btn_close::before,
.nav_mobile_menu___btn_close::after {
  position: absolute;
  display: block;
  content: "";
  background-color: var(--secondaryColor);
  width: 30px;
  height: 5px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_mobile_menu___btn_open::before {
  transform: translate(-10px, -10px);
}

.nav_mobile_menu___btn_open::after {
  transform: translate(-10px, 10px);
}

.nav_mobile_menu___btn_close::before {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav_mobile_menu___btn_close::after {
  transform: rotate(45deg) translate(35px, -35px);
}

@media only screen and (max-width: 350px) {

  .nav_mobile_menu___btn_open,
  .nav_mobile_menu___btn_close {
    width: 15px;
    height: 4px;
  }

  .nav_mobile_menu___btn_open::before,
  .nav_mobile_menu___btn_open::after,
  .nav_mobile_menu___btn_close::before,
  .nav_mobile_menu___btn_close::after {
    width: 25px;
    height: 4px;
  }

  .nav_mobile_menu___btn_open::before {
    transform: translate(-10px, -8px);
  }
  
  .nav_mobile_menu___btn_open::after {
    transform: translate(-10px, 8px);
  }
}